<div>
    <nav>
        <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
            <li data-bind="css: { active: isActive }">
                <a data-bind="attr: { href: hash }, text: title"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#router-demo/1/first">Detail 1</a></li>
            <li><a href="#router-demo/2/second">Detail 2</a></li>
            <li class="loader" data-bind="css: { active: router.isNavigating }">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </li>
        </ul>
    </nav>
    <div class="page-host" data-bind="router: { transition:'entrance'}"></div>
</div>